@import "tailwindcss";

.custom-shadow {
   -webkit-box-shadow: -0.8px 0.6px 12.6px 8.3px rgba(0, 0, 0, 0.4); 
  box-shadow: -0.8px 0.6px 12.6px 8.3px rgba(0, 0, 0, 0.4);
  }

.custom-shadow-blue {
    box-shadow: 29.2px 24px 21.2px 0px rgba(51, 181, 224, 0.68);
    -webkit-box-shadow: 29.2px 24px 21.2px 0px rgba(1, 14, 18, 0.689);
}  